<!-- templates/usuarios.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuarios</title>
</head>
<body>

    <h1>#Para agregar usuarios nuevos usa el siguiente ruta: <strong> http://127.0.0.1:5000/add_user/<nombre>/<email> </strong> </h1>
    <p>#En los campos <nombre> y <email> agrega tu usuario y correo coorrespondiente</p>
    <h1>Usuarios</h1>
    <ul>
        {% for usuario in usuarios %}
        <li>{{ usuario.nombre }} - {{ usuario.email }}</li>
        {% endfor %}
    </ul>
</body>
</html>
